# Box Score Gatherer

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import re
from tqdm import tqdm_notebook as tqdm
from urllib.request import urlopen
pd.set_option('display.max_colwidth', None)
import warnings
warnings.filterwarnings('ignore')

In [2]:
requestHead = {"User-Agent": "Chrome/47.0.2526.111"}

## General

In [3]:
def getSeasonIDs(num,online = True,prefix = None,post=True):
    if online:
        if num < 10:
            strnum = '0' + str(num)
        elif num >= 10:
            strnum = str(num)
        if num < 24:
            url = "http://sim-football.com/indexes/NSFLS"+strnum+"/GameResults.html"
        else:
            url = "http://sim-football.com/indexes/ISFLS"+strnum+"/GameResults.html"
        page = requests.get(url, headers = requestHead)
        soup = BeautifulSoup(page.text,'html.parser')
    else:
        with open(prefix+'/GameResults.html') as f:
            soup = BeautifulSoup(f,'html.parser')
    
    if num > 21:
        preseason=24
        postseason=7
    elif num > 15:
        preseason = 20
        postseason= 7
    elif num > 1:
        preseason = 16
        postseason= 3
    else:
        preseason = 12
        postseason= 3
    
    pbplist = soup.find_all('a',href=re.compile('Logs'))
    pbpURLs = [p.get('href') for p in pbplist]
    if len(pbpURLs[preseason:-postseason]) == 55:
        preseason = preseason-1
    if post:
        idList = [p[5:].strip('.html') for p in pbpURLs[preseason:]]
    else:
        idList = [p[5:].strip('.html') for p in pbpURLs[preseason:-postseason]]
    return idList

In [4]:
gameID = 6146
S = 24

if S < 10:
    strnum = '0' + str(S)
elif S >= 10:
    strnum = str(S)

In [5]:
sIDList = getSeasonIDs(S)
# gameID = sIDList[4]
print(gameID)

6146

In [6]:
boxList = pd.read_html('http://sim-football.com/indexes/ISFLS%s/Boxscores/%s.html'%(strnum,gameID))

In [7]:
# Quarters
boxScore = boxList[2].iloc[:-1,:-1]
boxScore

              Team 1st 2nd 3rd 4th   F
0    Yeti (14-2-0)   0   3   6   0   9
1  Outlaws (9-7-0)   0  14  21   7  42

In [8]:
# Scoring Summary
scoreSum = boxList[5]
homeTeam = scoreSum['Scoring Summary.5'].iloc[0]
awayTeam = scoreSum['Scoring Summary.4'].iloc[0]
scoreSum = scoreSum.rename(columns = {'Scoring Summary':'Quarter','Scoring Summary.1':'Score Type','Scoring Summary.2':'Time Remaining',
                                      'Scoring Summary.3':'Play','Scoring Summary.4':awayTeam,'Scoring Summary.5':homeTeam})

isnull = scoreSum['Quarter'].isnull()
partitions = (isnull != isnull.shift()).cumsum()

gb = scoreSum[isnull].groupby(partitions)

# q1 = gb.get_group(2).iloc[:,1:]
# q1['Q'] = 1

# q2 = gb.get_group(4).iloc[:,1:]
# q2['Q'] = 2

# q3 = gb.get_group(6).iloc[:,1:]
# q3['Q'] = 3
# q4 = gb.get_group(8).iloc[:,1:]
# q4['Q'] = 4
# try:
#     q5 = gb.get_group(10).iloc[:,1:]
#     q5['Q'] = 5
# except:
#     q5 = None

# scoring = pd.concat([q1,q2,q3,q4,q5])
# cols = ['Q'] + list(scoring.columns[:-1])
# scoring = scoring[cols]
# scoring

In [9]:
q = 0
offset = 0
qD = {}
for i in range(1,len(isnull)):
    if isnull[i] == True and isnull[i-1] == False:
        q += 1
        qD[q] = (q-offset)*2
    elif isnull[i] == False and isnull[i-1] == False:
        q += 1
        offset += 1

qL = []
for i in qD.keys():
#     print(i)
    p1 = gb.get_group(qD[i]).iloc[:,1:]
    p1['Q'] = i
    qL.append(p1)
scoring = pd.concat(qL)
cols = ['Q'] + list(scoring.columns[:-1])
scoring = scoring[cols]
scoring

,Q,Score Type,Time Remaining,Play,COL,AZ
2,2,TD,10:23,Jah Bur'Berry 8 yd pass from Jay Cue. (J.J. Jay-Jaymison kick),0,7
3,2,FG,6:55,45 yd FG by Silver Banana,3,7
4,2,TD,0:49,Joseph Petrongolo (R) 6 yd run. (J.J. Jay-Jaymison kick),3,14
6,3,TD,13:33,Saba Donut 59 yd pass from Jay Cue. (J.J. Jay-Jaymison kick),3,21
7,3,FG,9:50,41 yd FG by Silver Banana,6,21
8,3,FG,4:07,42 yd FG by Silver Banana,9,21
9,3,TD,2:28,Thomas Passmann 52 yd pass from Jay Cue. (J.J. Jay-Jaymison kick),9,28
10,3,TD,1:24,Zed Keppler (R) 1 yd run. (J.J. Jay-Jaymison kick),9,35
12,4,TD,0:00,Jay Cue 4 yd run. (J.J. Jay-Jaymison kick),9,42

In [10]:
gb.get_group(2).iloc[:,1:]

,Score Type,Time Remaining,Play,COL,AZ
2,TD,10:23,Jah Bur'Berry 8 yd pass from Jay Cue. (J.J. Jay-Jaymison kick),0,7
3,FG,6:55,45 yd FG by Silver Banana,3,7
4,TD,0:49,Joseph Petrongolo (R) 6 yd run. (J.J. Jay-Jaymison kick),3,14

In [11]:
scoring[scoring['Play'].str.contains('interception return')]

Empty DataFrame
Columns: [Q, Score Type, Time Remaining, Play, COL, AZ]
Index: []

In [12]:
# Team Stats
teamStats = boxList[6].iloc[1:]
teamStats.columns = ['Stat'] + list(boxList[6].iloc[0][1:])

pd.to_numeric(teamStats['COL'],errors='ignore')

teamStatsDF = teamStats.copy()

def pct(teamStats,iloc1,iloc2):
    num = int(teamStats.iloc[iloc1,iloc2].split('/')[0])
    denom = int(teamStats.iloc[iloc1,iloc2].split('/')[1])
    if denom != 0:
        return num/denom
    else:
        return 0
    
for op in [1,2,5]:
    teamStatsDF.iloc[op,1] = pct(teamStats,op,1)
    teamStatsDF.iloc[op,2] = pct(teamStats,op,2)

aComp = int(teamStats.iloc[5,1].split('/')[0])
aAtt = int(teamStats.iloc[5,1].split('/')[1])
hComp = int(teamStats.iloc[5,2].split('/')[0])
hAtt = int(teamStats.iloc[5,2].split('/')[1])
aPen = int(teamStats.iloc[10,1].split('-')[0])
aPenY = int(teamStats.iloc[10,1].split('-')[1])
hPen = int(teamStats.iloc[10,2].split('-')[0])
hPenY = int(teamStats.iloc[10,2].split('-')[1])
aFum = int(teamStats.iloc[12,1].split(' (')[0])
aFumL = int(teamStats.iloc[12,1].split(' (')[1][:-1])
hFum = int(teamStats.iloc[12,2].split(' (')[0])
hFumL = int(teamStats.iloc[12,2].split(' (')[1][:-1])

arr = [['Completions',aComp,hComp],
       ['Attempts',aAtt,hAtt],
       ['Penalties',aPen,hPen],
       ['Penalty Yards',aPenY,hPenY],
       ['Fumbles',aFum,hFum],
       ['Fumbles Lost',aFumL,hFumL]]

extraDF = pd.DataFrame(arr, columns = teamStats.columns)
extraDF

teamStatsDF2 = pd.concat([teamStatsDF.iloc[:5],extraDF.iloc[:2],teamStatsDF.iloc[6:10],extraDF.iloc[2:4],teamStatsDF.iloc[11:12],extraDF[4:],teamStatsDF.iloc[13:]])
teamStatsDF2[awayTeam] = pd.to_numeric(teamStatsDF2[awayTeam],errors='ignore')
teamStatsDF2[homeTeam] = pd.to_numeric(teamStatsDF2[homeTeam],errors='ignore')

teamStatsDF2

                   Stat     COL        AZ
1           First Downs      16        11
2   3rd Down Efficiency  0.1875  0.333333
3   4rd Down Efficiency       0         0
4           Total Yards     410       380
5               Passing     293       315
0           Completions      25        21
1              Attempts      45        45
7        Yards per Pass     6.5       7.0
8               Rushing     117        65
9      Rushing Attempts      21        17
10       Yards per Rush     5.6       3.8
2             Penalties       4         3
3         Penalty Yards      25        25
12            Turnovers       2         0
4               Fumbles       1         0
5          Fumbles Lost       1         0
14      Had Intercepted       1         0
15   Time of Possession   29:59     30:01

In [13]:
def posStatDF(boxList,index,homeTeam,awayTeam,name):
    away = boxList[index].iloc[1:]
    away.columns = ['Player'] + list(boxList[index].iloc[0][1:])
    away['Team'] = awayTeam
    
    home = boxList[index+1].iloc[1:]
    home.columns = ['Player'] + list(boxList[index].iloc[0][1:])
    home['Team'] = homeTeam
    
    cols = ['Team'] + list(home.columns[:-1])
    stats = pd.concat([home,away])
    stats = stats[cols]
    stats = stats.rename(columns={'TD':'%s_TD'%name})
    stats['Player'] = stats['Player'].str.replace(r" \(.*?\)","").str.replace(r"\(.*?\) ","")
    stats = stats.set_index('Player')
    
    return stats

In [14]:
passStats = posStatDF(boxList,8,homeTeam,awayTeam,"pass")
rushStats = posStatDF(boxList,10,homeTeam,awayTeam,'rush')
recStats = posStatDF(boxList,12,homeTeam,awayTeam,'rec')
kickStats = posStatDF(boxList,14,homeTeam,awayTeam,'kick')
puntStats = posStatDF(boxList,16,homeTeam,awayTeam,'punt')
specStats = posStatDF(boxList,18,homeTeam,awayTeam,'spec')
defStats = posStatDF(boxList,20,homeTeam,awayTeam,'def')
othStats = posStatDF(boxList,22,homeTeam,awayTeam,'oth')
statsList= [passStats,rushStats,recStats,kickStats,puntStats,specStats,defStats,othStats]

In [15]:
passStats

            Team  Cp/At  Yds   Avg pass_TD Int   Rat
Player
Cue, J.       AZ  21/45  315    15       3   0  92.4
McDummy, W.  COL  25/45  293  11.7       0   1  66.3

In [27]:
passStats['Cp/At'].str.split('/').apply(lambda x: [int(i) for i in x][1])

Player
Cue, J.        45
McDummy, W.    45
Name: Cp/At, dtype: int64

In [38]:
kickStats

                 Team XPM XPA FG < 20 20-29 30-39 40-49  50+
Player
Jay-Jaymison, J.   AZ   6   6     0/0   0/0   0/0   0/0  0/0
Banana, S.        COL   0   0     0/0   0/0   0/0   3/3  0/0

In [42]:
kickList = ['FG < 20','20-29','30-39','40-49','50+']
for k in kickList:
    print([[int(x.strip('[]').split('/')[0]) for x in kickStats[k]]])
#     print([int(x.strip('[]').split('/')[1]) for x in kickStats[k]])

[[0, 0]]
[[0, 0]]
[[0, 0]]
[[0, 3]]
[[0, 0]]

In [16]:
passStats['Cp/At']

Player
Cue, J.        21/45
McDummy, W.    25/45
Name: Cp/At, dtype: object

In [66]:
specStats

,Team,KR,Yds,Yds,Lng,Lng,spec_TD,spec_TD,PR,Yds,Yds,Lng,Lng,spec_TD,spec_TD
Player,,,,,,,,,,,,,,,
"Owens, A.",COL,2,34,37,20,20,0,0,3,34,37,20,20,0,0
"Purchase, L.",COL,2,59,0,31,0,0,0,0,59,0,31,0,0,0
"D'Attoria V, R.",PHI,4,149,0,45,0,0,0,0,149,0,45,0,0,0
"Panda, F.",PHI,2,72,27,37,12,0,0,5,72,27,37,12,0,0

In [61]:
kickStats

           Team XPM XPA FG < 20 20-29 30-39 40-49  50+
Player
Banana, S.  COL   1   1     0/0   1/1   0/0   3/3  0/0
Louis, L.   PHI   2   2     0/0   1/1   0/0   0/0  0/0

In [65]:
pd.concat([rushStats.rush_TD,recStats.rec_TD,specStats.spec_TD,defStats.def_TD])

ValueError: Plan shapes are not aligned