In [1]:
from lzstring import LZString
import pandas as pd
import os
from tqdm.notebook import tqdm
import requests
from bs4 import BeautifulSoup
import numpy as np
import re
# pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

The history saving thread hit an unexpected error (DatabaseError('database disk image is malformed')).History will not be written to the database.

In [2]:
requestHead = {"User-Agent": "Chrome/47.0.2526.111"}

In [3]:
def getSeasonIDs(num,online = True,prefix = None,post=True):
    if online:
        if num < 10:
            strnum = '0' + str(num)
        elif num >= 10:
            strnum = str(num)
        if num < 24:
            url = "http://www.mikemakmur.com/isfl/S"+strnum+"/GameResults.html"
        else:
            url = "http://www.mikemakmur.com/isfl/S"+strnum+"/GameResults.html"
        page = requests.get(url, headers = requestHead)
        soup = BeautifulSoup(page.text,'html.parser')
        
#         if num < 5:
#             gpwk = 3
#         elif num == 5:
#             gpwk = 4
#         elif num <= 21:
#             gpwk = 5
#         elif num <= 24:
#             gpwk = 6
#         else:
#             gpwk = 7
    else:
        with open(prefix+'/GameResults.html') as f:
            soup = BeautifulSoup(f,'html.parser')
    preseason = 28
    postseason = 13
    wks = 16
    gpwk = 7
#     if num > 24:
#         preseason = 28
#         postseason = 7
#     elif num > 21:
#         preseason=24
#         postseason=7
#     elif num > 15:
#         preseason = 20
#         postseason= 7
#     elif num > 1:
#         preseason = 16
#         postseason= 3
#     else:
#         preseason = 12
#         postseason= 3
    
#     if num <= 15:
#         wks = 14
#     elif num <= 22:
#         wks = 13
#     else:
#         wks = 16
        
    wkList = np.repeat(range(1,wks+1),gpwk)
    
    pbplist = soup.find_all('a',href=re.compile('Logs'))
    pbpURLs = [p.get('href') for p in pbplist]
    if len(pbpURLs[preseason:-postseason]) == 55:
        preseason = preseason-1
    if post:
        idList = [int(p[5:].split('id=')[1]) for p in pbpURLs[preseason:]]
    else:
        idList = [int(p[5:].split('id=')[1]) for p in pbpURLs[preseason:-postseason]]
    return idList, wkList

```python
f = open("boxscoreData6.txt", "r",encoding='utf-8-sig')
box = f.read()
f.close()


pd.read_json(LZString.decompressFromEncodedURIComponent(box))

f = open("pbpData6.txt", "r",encoding='utf-8-sig')
pbpData6 = f.read()
f.close()


pbpData6DF = pd.read_json(LZString.decompressFromEncodedURIComponent(pbpData6))

pd.DataFrame(pbpData6DF.loc[0,'Q1'])
```

In [4]:
S = 1
if S < 10:
    strnum = '0' + str(S)
elif S >= 10:
    strnum = str(S)

Downloading files from index:

In [14]:
%%timeit
for i in range(1,11):
#     print(i)
    os.system('wget -q -O "testLZ/S%s/pbpData%i.txt" "http://www.mikemakmur.com/isfl/S%s/Logs/pbpData%s.txt"'%(strnum,i,strnum,i))
    os.system('wget -q -O "testLZ/S%s/boxscoreData%i.txt" "http://www.mikemakmur.com/isfl/S%s/Boxscores/boxscoreData%s.txt"'%(strnum,i,strnum,i))

2.3 s ± 260 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [279]:
sBar = tqdm(total=10)
for S in range(1,11):
    if S < 10:
        strnum = '0' + str(S)
    elif S >= 10:
        strnum = str(S)
    sBar.set_description('S%i'%S)
    
    iBar = tqdm(total=10,leave=False)
    for i in range(1,11):
    #     print(i)
        os.system('wget -q -O "testLZ/S%s/pbpData%i.txt" "http://www.mikemakmur.com/isfl/S%s/Logs/pbpData%s.txt"'%(strnum,i,strnum,i))
        os.system('wget -q -O "testLZ/S%s/boxscoreData%i.txt" "http://www.mikemakmur.com/isfl/S%s/Boxscores/boxscoreData%s.txt"'%(strnum,i,strnum,i))
        iBar.update(1)
    sBar.update(1)

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=10.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=10.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=10.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=10.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=10.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=10.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=10.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=10.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=10.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=10.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=10.0), HTML(value='')))

Reading in files to DF:

In [58]:
%%timeit
pbpDF = pd.DataFrame()
boxDF = pd.DataFrame()

for i in range(1,11):
#     print(i)
    f = open("testLZ/S%s/pbpData%i.txt"%(strnum,i), "r",encoding='utf-8-sig')
    pbp = f.read()
    f.close()
    pbpDF = pd.concat([pbpDF,pd.read_json(LZString.decompressFromEncodedURIComponent(pbp))])
    
    g = open("testLZ/S%s/boxscoreData%i.txt"%(strnum,i), "r",encoding='utf-8-sig')
    box = g.read()
    g.close()
    boxDF = pd.concat([boxDF,pd.read_json(LZString.decompressFromEncodedURIComponent(box))])

33.7 s ± 18.5 s per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [5]:
sBar = tqdm(total=10)
for S in range(1,11):
    if S < 10:
        strnum = '0' + str(S)
    elif S >= 10:
        strnum = str(S)
    sBar.set_description('S%i'%S)
    
    pbpDF = pd.DataFrame()
    boxDF = pd.DataFrame()
    
    iBar = tqdm(total=10)
    for i in range(1,11):
        f = open("testLZ/S%s/pbpData%i.txt"%(strnum,i), "r",encoding='utf-8-sig')
        pbp = f.read()
        f.close()
        pbpDF = pd.concat([pbpDF,pd.read_json(LZString.decompressFromEncodedURIComponent(pbp))])

        g = open("testLZ/S%s/boxscoreData%i.txt"%(strnum,i), "r",encoding='utf-8-sig')
        box = g.read()
        g.close()
        boxDF = pd.concat([boxDF,pd.read_json(LZString.decompressFromEncodedURIComponent(box))])
        
        iBar.update(1)
        
    pbpDF.to_csv('testLZ/S%s/pbpDF.csv'%strnum)
    boxDF.to_csv('testLZ/S%s/boxDF.csv'%strnum)
    sBar.update(1)

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=10.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=10.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=10.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=10.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=10.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=10.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=10.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=10.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=10.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=10.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=10.0), HTML(value='')))

Boxscores:

In [83]:
boxDF = pd.read_csv('testLZ/S%s/boxDF.csv'%strnum)
# boxDF = boxDF.reset_index()

In [85]:
boxDF.head()

,Unnamed: 0,Unnamed: 0.1,level_0,index,id,hId,aId,weather,hMascot,aMascot,hAbb,aAbb,hRec,aRec,h1Q,h2Q,h3Q,h4Q,hF,a1Q,a3Q,a4Q,aF,oPOGId,dPOGId,oPOG,dPOG,aFD,a3rdM,a3rdA,aYds,aPassing,aComp,aAtt,aYPP,aRushing,aRushes,aYPR,aPen,aPenYds,aTO,aFum,aFumL,aTOP,hFD,h3rdM,h3rdA,hYds,hPassing,hComp,hAtt,hYPP,hRushing,hRushes,hYPR,hPen,hPenYds,hTO,hInt,hFum,hFumL,hTOP,scoring1Q,scoring2Q,scoring3Q,scoring4Q,scoringOT,aStatsPassing,hStatsPassing,aStatsRushing,hStatsRushing,aStatsReceiving,hStatsReceiving,aStatsKicking,hStatsKicking,aStatsPunting,hStatsPunting,aStatsST,hStatsST,aStatsDef,hStatsDef,aStatsOther,hStatsOther,a2Q,h4thA,a4thM,a4thA,aInt,h4thM,hOT,aOT
0,0,0,0,0,20,1,7,"72° F, Wind 9 mph",Hawks,Liberty,BAL,PHI,(5-11-0),(7-9-0),7.0,21.0,7.0,7.0,42.0,21.0,7.0,20.0,48,9822,12566,"Sam Torenson - RB (PHI): 23 att, 109 yds, 4 TD","Matt Cross - FS (PHI): 3 Tck, 2 Int, 1 Def TD,...",14,3.0,11,406,229,20,32,7.2,177,29,6.1,5.0,57.0,1.0,1.0,1.0,30:03,18,4.0,7,561,435,28,42,10.4,126,19,6.6,1.0,15.0,6.0,4.0,2.0,2.0,29:57,"[{'team': 7, 'type': 'TD', 'time': '12:44', 'p...","[{'team': 1, 'type': 'TD', 'time': '8:52', 'pl...","[{'team': 7, 'type': 'TD', 'time': '12:14', 'p...","[{'team': 7, 'type': 'TD', 'time': '14:13', 'p...",[],"[{'id': 11605, 'name': 'Phoenix (C), B.', 'c':...","[{'id': 12526, 'name': 'Fujiwara (C), C.', 'c'...","[{'id': 9822, 'name': 'Torenson, S.', 'a': 23,...","[{'id': 13589, 'name': 'Fukushu, M.', 'a': 15,...","[{'id': 12563, 'name': 'Panda, F.', 'c': 5, 'y...","[{'id': 14283, 'name': 'Howlett (R), D.', 'c':...","[{'id': 14268, 'name': 'Fencik (R), J.', 'xpm'...","[{'id': 13082, 'name': 'Small, J.', 'xpm': 6, ...","[{'id': 911, 'name': 'PuntBot, Z.', 'p': 6, 'y...","[{'id': 13082, 'name': 'Small, J.', 'p': 3, 'y...","[{'id': 9822, 'name': 'Torenson, S.', 'kr': 2,...","[{'id': 13589, 'name': 'Fukushu, M.', 'kr': 3,...","[{'id': 11165, 'name': 'Howyanow, W.', 't': 7,...","[{'id': 12529, 'name': 'Avery, E.', 't': 6, 'p...","[{'id': 14271, 'name': 'Wrecks (R), T.', 'pen'...","[{'id': 746, 'name': 'Ash, R.', 'pen': 1, 'y':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,1,1,30,3,5,"68° F, Wind 3 mph",Yeti,Otters,COL,OCO,(9-7-0),(12-4-0),NaN,7.0,3.0,7.0,17.0,17.0,7.0,17.0,44,14251,12037,"Suleiman Ramza (R) - QB (OCO): 12/22, 220 yds,...","Inspectah Deck - LB (OCO): 2 Tck, 1 Int, 1 Def TD",8,3.0,11,349,264,13,26,10.2,85,23,3.7,5.0,60.0,NaN,2.0,NaN,29:37,12,5.0,13,282,200,22,35,5.7,82,28,2.9,3.0,25.0,4.0,1.0,4.0,3.0,30:23,"[{'team': 5, 'type': 'TD', 'time': '12:10', 'p...","[{'team': 5, 'type': 'FG', 'time': '14:37', 'p...","[{'team': 5, 'type': 'TD', 'time': '9:52', 'pl...","[{'team': 5, 'type': 'TD', 'time': '14:34', 'p...",[],"[{'id': 14251, 'name': 'Ramza (R), S.', 'c': 1...","[{'id': 8221, 'name': 'McDummy (C), W.', 'c': ...","[{'id': 13578, 'name': 'McZeal, K.', 'a': 16, ...","[{'id': 11601, 'name': 'Williams, D.', 'a': 22...","[{'id': 12555, 'name': 'Phillips, J.', 'c': 3,...","[{'id': 11136, 'name': 'Sauce, E.', 'c': 5, 'y...","[{'id': 6859, 'name': 'Dasistwirklichseinnachn...","[{'id': 12016, 'name': 'Banana, S.', 'xpm': 2,...","[{'id': 6859, 'name': 'Dasistwirklichseinnachn...","[{'id': 12016, 'name': 'Banana, S.', 'p': 4, '...","[{'id': 11602, 'name': 'Beerus, L.', 'kr': 2, ...","[{'id': 10693, 'name': 'Purchase, L.', 'kr': 2...","[{'id': 12556, 'name': 'Jones (C), D.', 't': 9...","[{'id': 13638, 'name': 'de Pengu, A.', 't': 7,...","[{'id': 1626, 'name': 'Pak, Y.', 'pen': 1, 'y'...","[{'id': 11601, 'name': 'Williams, D.', 'pen': ...",3.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2,2,2,40,5,2,"79° F, Wind 3 mph",Otters,Wraiths,OCO,YKW,(12-4-0),(8-8-0),NaN,14.0,2.0,8.0,24.0,7.0,14.0,3.0,27,11929,13579,"Future Trunks - WR (OCO): 4 rec, 124 yds, 1 TD","Bob Bob - SS (OCO): 6 Tck, 1 Sck, 1 Sfty, 1 FF",15,6.0,13,282,261,28,34,7.7,21,26,0.8,3.0,30.0,1.0,2.0,NaN,33:43,14,3.0,8,348,228,14,32,7.1,120,21,5.7,1.0,5.0,4.0,4.0,1.0,NaN,26:17,"[{'team': 2, 'type': 'TD', 'time': '3:15', 'pl...","[{'team': 2, 'type': 'FG', 'time': '8:11', 'pl...","[{'team': 5, 'type': 'SF', 'time': '11:50', 'p...","[{'team': 2, 'type': 'FG', 'time': '5:42', 'pl...",[],"[{'id': 13570, 'name': 'Jack, C.', 'c': 28, 'a...","[{'id': 14251, 'name': 'Ramza (R), S.', 'c': 1...","[{'id': 13602, 'name': 'Z, D.', 'a': 18, 'y': ...","[{'id': 13578, 'name': 'McZeal, K.', 'a': 16, ...","[{'id': 13573, 'name': 'Sakura (C), K.', 'c': ...","[{'id': 13580, 'name': 'Despacito Jr., G.', 'c...","[{'id': 14205, 'name': 'Kokot (R), B.', 'xpm':...","[{'id': 6859, 'name': 'Dasistwirklichseinnachn...","[{'id': 14205, 'name': 'Kokot (R), B.', 'p': 4...","[{'id': 6859, 'name': 'Dasistwirklichseinnachn...","[{'id': 14201, 'name': 'Walker (R), M.', 'pr':...","[{'id': 13580, 'name': 'Despacito Jr., G.', 'k...","[{'id': 11882, 'name': 'Quaid, D.', 't': 8}, {...","[{'id': 12556, 'name': 'Jones (C), D.', 't': 9...","[{'id': 1611, 'name': 'Ones, B.', 'pen': 1, 'y...","[{'id': 13580, 'name': 'Despacito Jr., G.', 'p...",3.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN
3,3,3,3,3,50,6,7,"80° F, Wind 11 mph",SaberCats,Liberty,SJS,PHI,(7-9-0),(7-9-0),14.0,10.0,7.0,6.0,37.0,7.0,7.0,NaN,21,12148,13576,"Jamar Lackson - RB (SJS): 25 att, 137 yds, 2 TD","Dorothy Zbornak - DE (PHI): 4 Tck, 1 Sck, 1 FF",16,2.0,9,380,299,27,40,7.5,81,17,4.8,4.0,20.0,NaN,1.0,NaN,25:54,20,5.0,10,422,278,24,34,8.2,144,27,5.3,4.0,35.0,1.0,1.0,1.0,NaN,34:06,"[{'team': 7, 'type': 'TD', 'time': '13:58', 'p...","[{'team': 6, 'type': 'TD', 'time': '13:59', 'p...","[{'team': 7, 'type': 'TD', 'time': '12:00', 'p...","[{'team': 6, 'type': 'FG', 'time': '9:45', 'pl...",[],"[{'id': 11605, 'name': 'Phoenix (C), B.', 'c':...","[{'id': 12094, 'name': 'Jack, M.', 'c': 24, 'a...","[{'id': 9822, 'name': 'Torenson, S.', 'a': 14,...","[{'id': 12148, 'name': 'Lackson, J.', 'a': 25,...","[{'id': 12563, 'name': 'Panda, F.', 'c': 8, 'y...","[{'id': 13009, 'name': 'Hood, T.', 'c': 7, 'y'...","[{'id': 14268, 'name': 'Fencik (R), J.', 'xpm'...","[{'id': 12562, 'name': 'McDairmid (C), M.', 'x...","[{'id': 911, 'name': 'PuntBot, Z.', 'p': 4, 'y...","[{'id': 12562, 'name': 'McDairmid (C), M.', 'p...","[{'id': 9822, 'name': 'Torenson, S.', 'kr': 1,...","[{'id': 12148, 'name': 'Lackson, J.', 'kr': 2,...","[{'id': 12569, 'name': 'Booker (C), B.', 't': ...","[{'id': 14215, 'name': 'Hilliard (R), R.', 't'...","[{'id': 12571, 'name': 'Altidor, J.', 'pen': 2...","[{'id': 9849, 'name': 'Pest, T.', 'pen': 2, 'y...",7.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN
4,4,4,4,4,60,8,12,"85° F, Wind 7 mph",Second Line,Hahalua,NOLA,HON,(11-5-0),(5-10-1),9.0,NaN,7.0,7.0,23.0,NaN,NaN,3.0,10,13598,14248,"Ben Slothlisberger - QB (NOLA): 22/25, 195 yds...","Three Foot Jeffrey (R) - DE (HON): 4 Tck, 2 Sc...",17,7.0,15,306,236,26,35,6.7,70,26,2.7,3.0,30.0,1.0,1.0,1.0,29:19,14,6.0,12,299,195,22,25,7.8,104,26,4.0,1.0,10.0,NaN,NaN,1.0,NaN,30:41,"[{'team': 8, 'type': 'SF', 'time': '7:09', 'pl...","[{'team': 12, 'type': 'TD', 'time': '4:47', 'p...","[{'team': 8, 'type': 'TD', 'time': '12:46', 'p...","[{'team': 12, 'type': 'FG', 'time': '11:30', '...",[],"[{'id': 13593, 'name': 'Skywalker (C), L.', 'c...","[{'id': 13598, 'name': 'Slothlisberger, B.', '...","[{'id': 13595, 'name': 'Ayers, N.', 'a': 22, '...","[{'id': 10702, 'name': 'Toriki, M.', 'a': 24, ...","[{'id': 12595, 'name': 'Alexander, W.', 'c': 6...","[{'id': 12576, 'name': 'Barker, E.', 'c': 6, '...","[{'id': 11574, 'name': 'Powers, V.', 'xpm': 1,...","[{'id': 11742, 'name': 'Louis, L.', 'xpm': 3, ...","[{'id': 11574, 'name': 'Powers, V.', 'p': 5, '...","[{'id': 11742, 'name': 'Louis, L.', 'p': 5, 'y...","[{'id': 13073, 'name': 'Waters, J.', 'kr': 2, ...","[{'id': 10730, 'name': 'Rector, D.', 'kr': 1, ...","[{'id': 13091, 'name': 'Kackpoo, H.', 't': 8, ...","[{'id': 12573, 'name': 'Witten, A.', 't': 9, '...","[{'id': 12597, 'name': 'Dinkley, V.', 'pen': 1...","[{'id': 591, 'name': 'Spais, B.', 'pen': 1, 'y...",7.0,1.0,1.0,2.0,NaN,NaN,NaN,NaN

In [268]:
boxDF.id.unique()

array([ 20,  30,  40,  50,  60,  70,  80,  90, 100, 110, 120, 130, 140,
       150, 160,  21,  31,  41,  51,  61,  71,  81,  91, 101, 111, 121,
       131, 141, 151, 171,  22,  32,  42,  52,  62,  72,  82,  92, 102,
       112, 122, 132, 142, 152, 172,  23,  33,  43,  53,  63,  73,  83,
        93, 103, 113, 123, 133, 143, 153,  24,  34,  44,  54,  64,  74,
        84,  94, 104, 114, 124, 134, 144, 154, 174,  15,  25,  35,  45,
        55,  65,  75,  85,  95, 105, 115, 125, 135, 145, 155, 165,  16,
        26,  36,  46,  56,  66,  76,  86,  96, 106, 116, 126, 136, 146,
       156, 166,  17,  27,  37,  47,  57,  67,  77,  87,  97, 107, 117,
       127, 137, 147, 157, 167,  18,  28,  38,  48,  58,  68,  78,  88,
        98, 108, 118, 128, 138, 148, 158, 168,  19,  29,  39,  49,  59,
        69,  79,  89,  99, 109, 119, 129, 139, 149, 159])

In [86]:
boxDF.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'level_0', 'index', 'id', 'hId', 'aId',
       'weather', 'hMascot', 'aMascot', 'hAbb', 'aAbb', 'hRec', 'aRec', 'h1Q',
       'h2Q', 'h3Q', 'h4Q', 'hF', 'a1Q', 'a3Q', 'a4Q', 'aF', 'oPOGId',
       'dPOGId', 'oPOG', 'dPOG', 'aFD', 'a3rdM', 'a3rdA', 'aYds', 'aPassing',
       'aComp', 'aAtt', 'aYPP', 'aRushing', 'aRushes', 'aYPR', 'aPen',
       'aPenYds', 'aTO', 'aFum', 'aFumL', 'aTOP', 'hFD', 'h3rdM', 'h3rdA',
       'hYds', 'hPassing', 'hComp', 'hAtt', 'hYPP', 'hRushing', 'hRushes',
       'hYPR', 'hPen', 'hPenYds', 'hTO', 'hInt', 'hFum', 'hFumL', 'hTOP',
       'scoring1Q', 'scoring2Q', 'scoring3Q', 'scoring4Q', 'scoringOT',
       'aStatsPassing', 'hStatsPassing', 'aStatsRushing', 'hStatsRushing',
       'aStatsReceiving', 'hStatsReceiving', 'aStatsKicking', 'hStatsKicking',
       'aStatsPunting', 'hStatsPunting', 'aStatsST', 'hStatsST', 'aStatsDef',
       'hStatsDef', 'aStatsOther', 'hStatsOther', 'a2Q', 'h4thA', 'a4thM',
       'a4thA', 'aInt', 'h4thM', 'hOT', 'aOT'],
      dtype='object')

In [88]:
pd.DataFrame(eval(boxDF[boxDF.id == 20].hStatsRushing.iloc[0]))

      id              name   a      y  avg   td     l
0  13589       Fukushu, M.  15  119.0  7.9  3.0  41.0
1    884         Covey, J.   2    6.0  3.0  NaN   6.0
2  12526  Fujiwara (C), C.   1    NaN  NaN  NaN   NaN
3  13627             D, Z.   1    1.0  1.0  NaN   1.0

***
play by play

In [39]:
pbpDF = pd.read_csv('testLZ/S%s/pbpDF.csv'%strnum)
pbpDF.head()

,Unnamed: 0,id,Q1,Q2,Q3,Q4,OT
0,0,20,"[{'s': 'PHI 0 - BAL 0', 'c': '15:00', 't': '--...","[{'s': 'PHI 21 - BAL 7', 'c': '15:00', 't': '2...","[{'s': 'PHI 21 - BAL 28', 'c': '15:00', 't': '...","[{'s': 'PHI 28 - BAL 35', 'c': '15:00', 't': '...",[]
1,1,30,"[{'s': 'OCO 0 - COL 0', 'c': '15:00', 't': '--...","[{'s': 'OCO 17 - COL 0', 'c': '15:00', 't': '3...","[{'s': 'OCO 20 - COL 7', 'c': '15:00', 't': '2...","[{'s': 'OCO 27 - COL 10', 'c': '15:00', 't': '...",[]
2,2,40,"[{'s': 'YKW 0 - OCO 0', 'c': '15:00', 't': '--...","[{'s': 'YKW 7 - OCO 0', 'c': '15:00', 't': '1s...","[{'s': 'YKW 10 - OCO 14', 'c': '15:00', 't': '...","[{'s': 'YKW 24 - OCO 16', 'c': '15:00', 't': '...",[]
3,3,50,"[{'s': 'PHI 0 - SJS 0', 'c': '15:00', 't': '--...","[{'s': 'PHI 7 - SJS 14', 'c': '15:00', 't': '1...","[{'s': 'PHI 14 - SJS 24', 'c': '15:00', 't': '...","[{'s': 'PHI 21 - SJS 31', 'c': '15:00', 't': '...",[]
4,4,60,"[{'s': 'HON 0 - NOLA 0', 'c': '15:00', 't': '-...","[{'s': 'HON 0 - NOLA 9', 'c': '15:00', 't': '2...","[{'s': 'HON 7 - NOLA 9', 'c': '15:00', 't': '1...","[{'s': 'HON 7 - NOLA 16', 'c': '15:00', 't': '...",[]

In [90]:
Q1 = pd.DataFrame(eval(pbpDF[pbpDF.id == 20]['Q1'].iloc[0]))

Q1.head()

,s,c,t,o,m,css,id
0,PHI 0 - BAL 0,15:00,---,--,15:00 - First Quarter,,NaN
1,PHI 0 - BAL 0,15:00,---,PHI - 35,"Fencik (R), J. kicks off.<br/>The kick sails i...",e,7.0
2,PHI 0 - BAL 0,14:51,1st and 10,BAL - 34,"Rush by Fukushu, M. for 1 yds. Tackle by DeSot...",,1.0
3,PHI 0 - BAL 0,14:31,2nd and 8,BAL - 35,"Rush by Fukushu, M. for a short gain. Tackle b...",,1.0
4,PHI 0 - BAL 0,14:14,3rd and 8,BAL - 36,"Pass by Fujiwara (C), C., complete to Fukushu,...",,1.0

In [202]:
gameID = 20

i = 0
gamePBP = pd.DataFrame()
for q in ['Q1','Q2','Q3','Q4','OT']:
    i += 1
    qDF = pd.DataFrame(eval(pbpDF[pbpDF.id == gameID][q].iloc[0]))
    qDF['Q'] = i
    gamePBP = pd.concat([gamePBP,qDF])

gamePBP = gamePBP.dropna()
gamePBP['gameID'] = gameID
gamePBP['S'] = S
gamePBP['m'] = gamePBP.m.str.replace('<br/>',' ')
gamePBP = gamePBP.rename(columns = {'id':'teamID','m':'play','c':'time'})
gamePBP = gamePBP.reset_index(drop=True)

In [203]:
gamePBP.head()

,s,time,t,o,play,css,teamID,Q,gameID,S
0,PHI 0 - BAL 0,15:00,---,PHI - 35,"Fencik (R), J. kicks off. The kick sails into ...",e,7.0,1,20,1
1,PHI 0 - BAL 0,14:51,1st and 10,BAL - 34,"Rush by Fukushu, M. for 1 yds. Tackle by DeSot...",,1.0,1,20,1
2,PHI 0 - BAL 0,14:31,2nd and 8,BAL - 35,"Rush by Fukushu, M. for a short gain. Tackle b...",,1.0,1,20,1
3,PHI 0 - BAL 0,14:14,3rd and 8,BAL - 36,"Pass by Fujiwara (C), C., complete to Fukushu,...",,1.0,1,20,1
4,PHI 0 - BAL 0,13:25,1st and 10,BAL - 48,"Rush by Covey, J. for a short gain. Tackle by ...",,1.0,1,20,1

In [204]:
gamePBP['awayTeam'],gamePBP['homeTeam'] = gamePBP.loc[0].s.replace(' 0','').replace(' ','').split('-')

In [205]:
def getTeams(teamID):
    teamIDs = {'1':'BAL','2':'YKW','3':'COL','4':'ARI','5':'OCO','6':'SJS',
                   '7':'PHI','8':'NOLA','9':'CHI','10':'AUS','11':'SAR','12':'HON',
                   '13':'BER','14':'NYS'}
    return teamIDs[teamID]

In [206]:
gamePBP['teamPoss'] = gamePBP.apply(lambda x: getTeams(str(int(x.teamID))),axis=1)

In [207]:
gamePBP[['side', 'yard']] = gamePBP.o.str.split(' - ',expand=True)

In [208]:
def dist2goal(team,side,yard):
    if team == side:
        dist = 100 - int(yard)
    elif side != '':
        dist = int(yard)
    else:
        dist = ''
    return dist

In [209]:
gamePBP['dist2goal'] = gamePBP.apply(lambda x: dist2goal(x.teamPoss,x.side,x.yard),axis=1)

In [253]:
pattern = '|'.join(['st','nd','rd','th'])
gamePBP[['down','distance']] = gamePBP.t.str.replace('---','0 and 0').str.replace('inches','1').str.replace(pattern,'').str.split(' a ',expand=True)
gamePBP.loc[gamePBP.distance == 'Goal','distance'] = gamePBP.loc[gamePBP.distance == 'Goal','dist2goal']

In [254]:
gamePBP[['minutes','seconds']] = gamePBP['time'].str.split(':',expand=True)
def totTime(gamePBP):
    return 15*60*(4-int(gamePBP.Q)) + int(gamePBP.minutes)*60 + int(gamePBP.seconds)
gamePBP['totTime'] = gamePBP.apply(lambda x: totTime(x),axis=1)

In [255]:
gamePBP[['awayStrScore','homeStrScore']] = gamePBP.s.str.split(' - ',expand=True)
gamePBP['awayScore'] = gamePBP.awayStrScore.str.split(' ',expand=True).iloc[:,1]
gamePBP['homeScore'] = gamePBP.homeStrScore.str.split(' ',expand=True).iloc[:,1]

In [258]:
gamePBP = gamePBP.apply(pd.to_numeric,errors='ignore',downcast='integer')

In [263]:
gamePBP = gamePBP[['gameID', 'S', 'teamID', 'Q', 'time', 'totTime', 'down', 'distance', 'side', 'yard', 'play', 'awayTeam', 'homeTeam', 'teamPoss', 'dist2goal', 'awayScore', 'homeScore']]

In [265]:
gamePBP.head()

,gameID,S,teamID,Q,time,totTime,down,distance,side,yard,play,awayTeam,homeTeam,teamPoss,dist2goal,awayScore,homeScore
0,20,1,7,1,15:00,3600,0,0,PHI,35,"Fencik (R), J. kicks off. The kick sails into ...",PHI,BAL,PHI,65,0,0
1,20,1,1,1,14:51,3591,1,10,BAL,34,"Rush by Fukushu, M. for 1 yds. Tackle by DeSot...",PHI,BAL,BAL,66,0,0
2,20,1,1,1,14:31,3571,2,8,BAL,35,"Rush by Fukushu, M. for a short gain. Tackle b...",PHI,BAL,BAL,65,0,0
3,20,1,1,1,14:14,3554,3,8,BAL,36,"Pass by Fujiwara (C), C., complete to Fukushu,...",PHI,BAL,BAL,64,0,0
4,20,1,1,1,13:25,3505,1,10,BAL,48,"Rush by Covey, J. for a short gain. Tackle by ...",PHI,BAL,BAL,52,0,0

In [8]:
def getTeams(teamID):
    teamIDs = {'1':'BAL','2':'YKW','3':'COL','4':'ARI','5':'OCO','6':'SJS',
                   '7':'PHI','8':'NOLA','9':'CHI','10':'AUS','11':'SAR','12':'HON',
                   '13':'BER','14':'NYS'}
    return teamIDs[teamID]

def totTime(gamePBP):
    return 15*60*(4-int(gamePBP.Q)) + int(gamePBP.minutes)*60 + int(gamePBP.seconds)

def dist2goal(team,side,yard):
    if team == side:
        dist = 100 - int(yard)
    elif side != '':
        dist = int(yard)
    else:
        dist = ''
    return dist

def getGameDataLZ(S,gameID):
    if S < 10:
        strnum = '0' + str(S)
    elif S >= 10:
        strnum = str(S)
    
    pbpDF = pd.read_csv('testLZ/S%s/pbpDF.csv'%strnum)
    
    i = 0
    gamePBP = pd.DataFrame()
    for q in ['Q1','Q2','Q3','Q4','OT']:
        i += 1
        qDF = pd.DataFrame(eval(pbpDF[pbpDF.id == gameID][q].iloc[0]))
        qDF['Q'] = i
        gamePBP = pd.concat([gamePBP,qDF])

    gamePBP = gamePBP.dropna()
    gamePBP['gameID'] = gameID
    gamePBP['S'] = S
    gamePBP['m'] = gamePBP.m.str.replace('<br/>',' ')
    gamePBP = gamePBP.rename(columns = {'id':'teamID','m':'play','c':'time'})
    gamePBP = gamePBP.reset_index(drop=True)
    
    gamePBP['teamPoss'] = gamePBP.apply(lambda x: getTeams(str(int(x.teamID))),axis=1)
    gamePBP[['side', 'yard']] = gamePBP.o.str.split(' - ',expand=True)    
    gamePBP['awayTeam'],gamePBP['homeTeam'] = gamePBP.loc[0].s.replace(' 0','').replace(' ','').split('-')

    gamePBP['dist2goal'] = gamePBP.apply(lambda x: dist2goal(x.teamPoss,x.side,x.yard),axis=1)

    pattern = '|'.join(['st','nd','rd','th'])
    gamePBP[['down','distance']] = gamePBP.t.str.replace('---','0 and 0').str.replace('inches','1').str.replace(pattern,'').str.split(' a ',expand=True)
    gamePBP.loc[gamePBP.distance == 'Goal','distance'] = gamePBP.loc[gamePBP.distance == 'Goal','dist2goal']

    gamePBP[['minutes','seconds']] = gamePBP['time'].str.split(':',expand=True)

    gamePBP['totTime'] = gamePBP.apply(lambda x: totTime(x),axis=1)

    gamePBP[['awayStrScore','homeStrScore']] = gamePBP.s.str.split(' - ',expand=True)
    gamePBP['awayScore'] = gamePBP.awayStrScore.str.split(' ',expand=True).iloc[:,1]
    gamePBP['homeScore'] = gamePBP.homeStrScore.str.split(' ',expand=True).iloc[:,1]

    gamePBP = gamePBP.apply(pd.to_numeric,errors='ignore',downcast='integer')

    return gamePBP[['gameID', 'S', 'teamID', 'Q', 'time', 'totTime', 'down', 'distance', 'side', 'yard', 'play', 'awayTeam', 'homeTeam', 'teamPoss', 'dist2goal', 'awayScore', 'homeScore']]

In [9]:
sBar = tqdm(total=10)
for S in range(1,11):
    sBar.set_description('S%s'%S)
    sIDList = getSeasonIDs(S,post=False)
    sDF = pd.DataFrame()
    iBar = tqdm(total=len(sIDList[0]))
    for i in sIDList[0]:
        iBar.set_description(str(i))
        gDF = getGameDataLZ(S,i)
        sDF = pd.concat([sDF,gDF])
        iBar.update(1)
    sDF.to_csv('testLZ/S%s.csv'%S)
    sBar.update(1)

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=10.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=112.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=112.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=112.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=112.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=112.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=112.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=112.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=112.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=112.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=112.0), HTML(value='')))