# Play by Play Gatherer - ISFL

In [1]:
import pandas as pd
import numpy as np
from tqdm.notebook import tqdm
from simFootballPBP import *
import warnings
warnings.filterwarnings('ignore')

In [2]:
# indexList = range(18,26)
indexList = [25]

In [5]:
sBar = tqdm(total=len(indexList),desc='S')
for s in indexList:
    sData = []
    sBar.set_description('S'+str(s))
    idList, idDict = getSeasonIDs(s,post=True)
    idBar = tqdm(total=len(idList),desc='id')
    for i in idList:
        idBar.set_description(i)
        sData.append(getGameData(s,i,idDict))
        idBar.update(1)
    sDF = pd.concat(sData)
    sDF.to_csv('PBP/S%sPBP.csv'%s)
    sBar.update(1)

HBox(children=(FloatProgress(value=0.0, description='S', max=1.0, style=ProgressStyle(description_width='initi…

HBox(children=(FloatProgress(value=0.0, description='id', max=98.0, style=ProgressStyle(description_width='ini…

In [6]:
import os
allDF = pd.concat([pd.read_csv('PBP/%s'%p) for p in next(os.walk('PBP'))[2] if '.csv' in p])
allDF = allDF.reset_index().sort_values('S')
allDF.to_csv('allPBP.csv')

In [7]:
allDF

,index,Unnamed: 0,teamID,Q,time,totTime,down,distance,side,yard,play,gameID,S,W,teamPoss,dist2goal,awayTeam,homeTeam,awayScore,homeScore
136062,0,0,2,1,15:00,3600,NaN,NaN,YKW,30.0,"Booter, A. kicks off.",17,1,1,YKW,70.0,SJS,YKW,0,0
142085,6023,42,1,1,0:38,2738,2.0,6.0,YKW,29.0,"Rush by Robinson, M. for 7 yds. Tackle by Shel...",14,1,11,BAL,29.0,BAL,YKW,0,6
142084,6022,41,1,1,0:57,2757,1.0,10.0,YKW,33.0,"Rush by Novel, L. for 4 yds. Tackle by Shelton...",14,1,11,BAL,33.0,BAL,YKW,0,6
142083,6021,40,1,1,1:36,2796,3.0,2.0,BAL,50.0,"Pass by Kyubee, S., complete to Christmas, C. ...",14,1,11,BAL,50.0,BAL,YKW,0,6
142082,6020,39,1,1,2:06,2826,2.0,5.0,BAL,47.0,"Pass by Kyubee, S., complete to Piper, W. for ...",14,1,11,BAL,53.0,BAL,YKW,0,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241134,5474,110,1,2,0:03,1803,2.0,4.0,BAL,10.0,"Rush by Rogers (R), C. for 1 yds. Tackle by Dr...",6394,25,4,BAL,90.0,COL,BAL,10,13
241135,5475,111,3,3,15:00,1800,NaN,NaN,COL,30.0,"Banana, S. kicks off.",6394,25,4,COL,70.0,COL,BAL,10,13
241136,5476,112,1,3,15:00,1800,NaN,NaN,NaN,NaN,"Fukushu, M. takes it down the left side.",6394,25,4,BAL,NaN,COL,BAL,10,13
241298,5638,65,11,2,9:57,2397,NaN,NaN,SAR,30.0,"Small, J. kicks off.",6395,25,4,SAR,70.0,CHI,SAR,7,10
252065,16405,225,2,4,0:25,25,2.0,6.0,BAL,48.0,"Rush by Vermillion (R), J. for 1 yds. Tackle b...",6445,25,11,YKW,48.0,YKW,BAL,9,3

In [8]:
pd.read_csv('PBP/S21PBP.csv')

,Unnamed: 0,teamID,Q,time,totTime,down,distance,side,yard,play,gameID,S,W,teamPoss,dist2goal,awayTeam,homeTeam,awayScore,homeScore
0,0,1,1,15:00,3600,NaN,NaN,BAL,30.0,"Brand, F. kicks off.",5154,21,1,BAL,70.0,YKW,BAL,0,0
1,1,2,1,15:00,3600,NaN,NaN,NaN,NaN,The kick sails into the endzone.,5154,21,1,YKW,NaN,YKW,BAL,0,0
2,2,2,1,15:00,3600,NaN,NaN,NaN,NaN,"Snuggles, J. takes it out of the endzone!",5154,21,1,YKW,NaN,YKW,BAL,0,0
3,3,2,1,15:00,3600,NaN,NaN,YKW,9.0,"Kickoff of 74 yards. Returned by Snuggles, J. ...",5154,21,1,YKW,91.0,YKW,BAL,0,0
4,4,2,1,14:55,3595,1.0,10.0,YKW,9.0,"Rush by Hanyadi, M. for 3 yds. Tackle by Nikko...",5154,21,1,YKW,91.0,YKW,BAL,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15171,217,2,4,0:53,53,2.0,2.0,YKW,28.0,"Pass by Bigsby, C. to Hanyadi, M. was dropped!...",5225,21,16,YKW,72.0,YKW,NO,13,33
15172,218,2,4,0:46,46,3.0,2.0,YKW,28.0,"Pass by Bigsby, C., complete to Hanyadi, M. fo...",5225,21,16,YKW,72.0,YKW,NO,13,33
15173,219,2,4,0:46,46,1.0,10.0,YKW,48.0,Yellowknife Wraiths : Timeout,5225,21,16,YKW,52.0,YKW,NO,13,33
15174,220,2,4,0:12,12,1.0,10.0,YKW,48.0,"Pass by Bigsby, C. to Drake, O. was dropped! I...",5225,21,16,YKW,52.0,YKW,NO,13,33
15175,221,2,4,0:08,8,2.0,10.0,YKW,48.0,"Bigsby, C. throws the ball away to avoid the s...",5225,21,16,YKW,52.0,YKW,NO,13,33