# Play by Play Gatherer - ISFL

In [1]:
import pandas as pd
import numpy as np
from tqdm.notebook import tqdm
from simFootballPBP import *
import warnings
warnings.filterwarnings('ignore')

The history saving thread hit an unexpected error (DatabaseError('database disk image is malformed')).History will not be written to the database.

In [3]:
getGameData(24,6091)

,teamID,Q,time,totTime,down,distance,side,yard,play,gameID,S,homeTeam,awayTeam,teamPoss,dist2goal,awayScore,homeScore
0,3,1,15:00,3600,,,COL,30,"Banana, S. kicks off.",6091,24,COL,PHI,COL,70,0,0
1,7,1,15:00,3600,,,,,The kick sails into the endzone.,6091,24,COL,PHI,PHI,,0,0
2,7,1,15:00,3600,,,,,"Panda, F. takes it out of the endzone!",6091,24,COL,PHI,PHI,,0,0
3,7,1,15:00,3600,,,PHI,17,"Kickoff of 78 yards. Returned by Panda, F. for...",6091,24,COL,PHI,PHI,83,0,0
4,7,1,14:55,3595,1,10,PHI,17,"Rush by Phoenix, B. for 6 yds. Tackle by Kirkb...",6091,24,COL,PHI,PHI,83,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,7,4,1:24,84,2,9,COL,42,Philadelphia Liberty : Timeout,6091,24,COL,PHI,PHI,42,0,28
203,7,4,1:16,76,2,9,COL,42,"Pass by Phoenix, B., complete to Vuxta, R. for...",6091,24,COL,PHI,PHI,42,0,28
204,7,4,0:39,39,1,10,COL,27,"Rush by Phoenix, B. for 1 yds. Tackle by Sanch...",6091,24,COL,PHI,PHI,27,0,28
205,7,4,0:08,8,2,9,COL,26,"Pass by Phoenix, B. to Tremblay, S. was droppe...",6091,24,COL,PHI,PHI,26,0,28
206,7,4,0:03,3,3,9,COL,26,"Pass by Phoenix, B., complete to Torenson, S. ...",6091,24,COL,PHI,PHI,26,0,28

In [4]:
# indexList = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22]
indexList = [22,23,24]

In [5]:
sBar = tqdm(total=len(indexList),desc='S')
for s in indexList:
    sData = []
    sBar.set_description('S'+str(s))
    idList = getSeasonIDs(s)
    idBar = tqdm(total=len(idList),desc='id')
    for i in idList:
        idBar.set_description(i)
        sData.append(getGameData(s,i))
        idBar.update(1)
    sDF = pd.concat(sData)
    sDF.to_csv('PBP/S%sPBP.csv'%s)
    sBar.update(1)

HBox(children=(FloatProgress(value=0.0, description='S', max=3.0, style=ProgressStyle(description_width='initiâ€¦

HBox(children=(FloatProgress(value=0.0, description='id', max=85.0, style=ProgressStyle(description_width='iniâ€¦

HBox(children=(FloatProgress(value=0.0, description='id', max=103.0, style=ProgressStyle(description_width='inâ€¦

HBox(children=(FloatProgress(value=0.0, description='id', max=103.0, style=ProgressStyle(description_width='inâ€¦

In [5]:
import os
allDF = pd.concat([pd.read_csv('PBP/%s'%p) for p in next(os.walk('PBP'))[2] if '.csv' in p])
allDF = allDF.reset_index()
allDF.to_csv('allPBP.csv')

In [6]:
pd.read_csv('PBP/S21PBP.csv')

,Unnamed: 0,teamID,Q,time,totTime,down,distance,side,yard,play,gameID,S,homeTeam,awayTeam,teamPoss,dist2goal,awayScore,homeScore
0,0,1,1,15:00,3600,NaN,NaN,BAL,30.0,"Brand, F. kicks off.",5154,21,BAL,YKW,BAL,70.0,0,0
1,1,2,1,15:00,3600,NaN,NaN,NaN,NaN,The kick sails into the endzone.,5154,21,BAL,YKW,YKW,NaN,0,0
2,2,2,1,15:00,3600,NaN,NaN,NaN,NaN,"Snuggles, J. takes it out of the endzone!",5154,21,BAL,YKW,YKW,NaN,0,0
3,3,2,1,15:00,3600,NaN,NaN,YKW,9.0,"Kickoff of 74 yards. Returned by Snuggles, J. ...",5154,21,BAL,YKW,YKW,91.0,0,0
4,4,2,1,14:55,3595,1.0,10.0,YKW,9.0,"Rush by Hanyadi, M. for 3 yds. Tackle by Nikko...",5154,21,BAL,YKW,YKW,91.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15171,217,2,4,0:53,53,2.0,2.0,YKW,28.0,"Pass by Bigsby, C. to Hanyadi, M. was dropped!...",5225,21,NO,YKW,YKW,72.0,13,33
15172,218,2,4,0:46,46,3.0,2.0,YKW,28.0,"Pass by Bigsby, C., complete to Hanyadi, M. fo...",5225,21,NO,YKW,YKW,72.0,13,33
15173,219,2,4,0:46,46,1.0,10.0,YKW,48.0,Yellowknife Wraiths : Timeout,5225,21,NO,YKW,YKW,52.0,13,33
15174,220,2,4,0:12,12,1.0,10.0,YKW,48.0,"Pass by Bigsby, C. to Drake, O. was dropped! I...",5225,21,NO,YKW,YKW,52.0,13,33
15175,221,2,4,0:08,8,2.0,10.0,YKW,48.0,"Bigsby, C. throws the ball away to avoid the s...",5225,21,NO,YKW,YKW,52.0,13,33