In [1]:
import pandas as pd
import numpy as np

The history saving thread hit an unexpected error (DatabaseError('database disk image is malformed')).History will not be written to the database.

In [2]:
all_files = ["PBP/S%iPBP.csv"%(i) for i in range(1,25)]

df = pd.concat((pd.read_csv(f) for f in all_files)).reset_index()

TDs = df.iloc[df[df['play'].str.contains("TOUCHDOWN")].index - 1]
picksix = TDs[TDs['play'].str.contains('INTERCEPTION')]
QBlist = pd.DataFrame(picksix['play'].str.replace("Pass by ","").str.replace(r" \(.*?\)","").str.replace(r"\(.*?\) ","").str.split(', to').str[0].value_counts())
QBlist.to_csv('PickSix_S24.csv')

In [3]:
QBlist

                 play
Christ, J.         20
Maximus III, B.    19
McDummy, W.        19
Boss, M.           18
Orosz, C.          15
Akselsen, M.       14
Applehort, R.      14
Bigsby, C.         14
Francisco, S.      14
Pierno, N.         14
Cole, E.           13
Showbiz, G.        13
Falconi, A.        13
McCormick, M.      13
Jenkins, R.        13
Bronko, K.         11
Armstrong, F.      11
Reese, A.          11
Fitzpatrick, K.    10
Pennington, B.     10
Havran, C.         10
Hunt, E.           10
Kyubee, S.         10
Wright, D.          9
Bercovici, J.       9
Blocksdale, A.      9
Gambino, C.         8
Rove, C.            8
Noble, L.           8
Fujiwara, C.        7
Cue, J.             7
Oles, T.            5
Phoenix, B.         4
Banks II, D.        4
Stone, W.           3
Jack, C.            3
Draxel, V.          2
Jack, M.            1
Holder, P.          1
LaFleur, F.         1
O'Donnell, G.       1
Jack, ".            1

Note: the last row (`Jack, ".`) is Monty Jack.

In [6]:
picksix[picksix.play.str.contains("Jack")]

,index,Unnamed: 0,teamID,Q,time,totTime,down,distance,side,yard,play,gameID,S,homeTeam,awayTeam,teamPoss,dist2goal,awayScore,homeScore
30441,9077,3,6,1,14:50,3590,1.0,10.0,SJS,40.0,"Pass by Hunt, E., to Jackson, M.. INTERCEPTION...",318,3,BAL,SJS,SJS,60.0,0,0
33254,11890,4,6,1,14:22,3562,3.0,5.0,SJS,31.0,"Pass by Hunt, E., to Jackson, M.. INTERCEPTION...",331,3,COL,SJS,SJS,69.0,0,0
33311,11947,61,6,2,12:35,2555,3.0,7.0,SJS,23.0,"Pass by Hunt, E., to Jackson, M.. INTERCEPTION...",331,3,COL,SJS,SJS,77.0,0,14
221774,4041,101,8,2,5:28,2128,2.0,9.0,NO,50.0,"Pass by Francisco, S., to Jackson, A.. INTERCE...",4576,18,NO,COL,NO,50.0,17,10
225964,8231,148,8,3,8:06,1386,1.0,10.0,NO,37.0,"Pass by Francisco, S., to Jackson, A.. INTERCE...",4596,18,AUS,NO,NO,63.0,21,13
253527,5761,74,6,2,6:13,2173,1.0,10.0,SJS,23.0,"Pass by Wright, D., to Jackson, A.. INTERCEPTI...",4998,20,AUS,SJS,SJS,77.0,10,21
255746,7980,25,6,1,8:43,3223,2.0,6.0,SJS,35.0,"Pass by Wright, D., to Jackson, A.. INTERCEPTI...",5009,20,SJS,OCO,SJS,65.0,2,0
261149,13383,51,6,1,1:13,2773,1.0,10.0,SJS,20.0,"Pass by Wright, D., to Jackson, A.. INTERCEPTI...",5034,20,SJS,YKW,SJS,80.0,7,7
314033,18375,171,6,4,10:54,654,1.0,10.0,SJS,17.0,"Pass by Jack (R), ""., to Lackson (R), J.. INTE...",5684,23,SJS,OCO,SJS,83.0,37,6
314487,18829,4,2,1,14:14,3554,3.0,16.0,YKW,9.0,"Pass by Bigsby, C., to Jackson, A.. INTERCEPTI...",5687,23,PHI,YKW,YKW,91.0,0,0
317250,289,63,2,2,11:16,2476,1.0,10.0,YKW,17.0,"Pass by Jack (R), C., to Cash Jr. (R), S.. INT...",6181,24,PHI,YKW,YKW,83.0,7,7
326545,9584,146,2,3,2:51,1071,1.0,10.0,AUS,13.0,"Pass by Jack (R), C., to Sakura (R), K.. INTER...",6142,24,YKW,AUS,YKW,13.0,27,6
326882,9921,72,6,2,5:32,2132,1.0,10.0,SJS,20.0,"Pass by Jack, M., to Cardrissian, R.. INTERCEP...",6132,24,SJS,BAL,SJS,80.0,3,7
330716,13755,39,2,1,0:01,2701,2.0,6.0,PHI,31.0,"Pass by Jack (R), C., to Sakura (R), K.. INTER...",6115,24,YKW,PHI,YKW,31.0,0,0